input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color__text-input;
    border: 1px solid $color__border-input;
    border-radius: 1.4rem;
    padding: .6rem 1rem;
    background: $color__background-inputs;
    text-transform: uppercase;
    font-size: .8rem;

    &:focus, &:focus-visible {
        color: $color__text-input-focus;
        border-color: $color__border-input-focus;
    }
}

select {
    border: 1px solid $color__border-input;
}

textarea {
    width: 100%;
}
