.site-header{
    background-color: $color__background-header;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0.5rem 0;
    .site-branding{
        display: flex;
        align-items: center;
    }
}